<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Формы регистрации и обратной связи</title>
    <link rel="stylesheet" href="{{ asset('styles.css') }}">
</head>
<body>
    {% block body %}{% endblock %}
    
    {% block javascripts %}
        <script src="{{ asset('app.js') }}"></script>
    {% endblock %}
</body>
</html>